html,body{
  height:100%;
  margin:0px;
  width: 100%;
}

body{
  background:
    linear-gradient(127deg, #A3DBC2, rgba(0,0,0,0) 70.71%),
    linear-gradient(217deg, #3D9BA5, rgba(0,0,0,0) 70.71%),
    linear-gradient(336deg, #126E9D, rgba(0,0,0,0) 70.71%);
  background-size: 100% 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0px;
}
img{
  height: 200px;
  width: 200px;
  animation-name: desv;
  animation-duration: 4s;
  opacity: 1;

}
.botoncito{
  background: #0F1F37;
  border: solid #126E9D 3px;
  border-radius: 1em;
  color: #A3D8C2;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: bold;
  height: 50px;
  margin-left: 5%;
  margin-top: 3%;
  outline: none;
  position: relative;
  top: 0px;
  transition: box-shadow .7s, top .7s;
  width: 100px;
  outline: none;
}
.button{
  background: #A3D8C2;
  border: inset #126E9D 3px;
  border-radius: 1em;
  color: #0F1F37;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  height: 70px;
  margin-bottom: 17px;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  top: 0px;
  transition: box-shadow .7s, top .7s;
  width: 200px;
}
#boton{
  display: flex;
  justify-content: center;
  width: 100%;
}
#button{
  background: #0F1F37;
  border: solid #126E9D 3px;
  border-radius: 1em;
  color: #A3D8C2;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  height: 100px;
  margin-top: 3%;
  outline: none;
  position: relative;
  top: 0px;
  transition: box-shadow .7s, top .7s;
  width: 300px;
}
#inicio{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
#iniciar{
  outline: none;
}
#title{
  color: #174970;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 130px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}
#registro{
  outline: none;
}
.botoncito:hover{
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.7);
  top:-7px;
}
.botoncito:active{
  background:  #174970;
  color: #A3D8C2;
}
.button:hover{
  box-shadow: 0px 0px 10px 3px rgba(156, 143, 143, 0.7);
  top:-7px;
}
.button:active{
  background:  #174970;
  color: #A3D8C2;
}
#button:active{
  background: #3D9BA5;
  border: inset #126E9D 3px;
  color:  #174970;
}
#button:hover{
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.7);
  top:-7px;
}
@keyframes desv{
  0%, 100%{
    opacity: 1;
  }
  50%{
    opacity: 0 ;
  }
}