<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Encuesta</title>
  </head>
  <body>
    <h1>Contesta una encuesta</h1>
    <div style="width: 300px">
      <form action="index.html" method="post">
        <fieldset>
          <legend><h3>Ingresa el código de la encuesta</h3></legend>
          Código de la encuesta: <br><input type='number' name='codigo' min="10000000" max="99999999" required>
          <br><input type='submit' value='Ingresar'>
        </fieldset>
      </form>
    </div>
  </body>
</html>
